body{
  background-color: white;
}
.loader-body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-cont{
  height: 60px;
  width: 60px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #444444;
  animation: mymove 1s infinite;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}