.container{
  padding: 0%;
  margin: 5px;
}
.social-media-links{
  display: flex;
}
.social-media-links div a img{
  height: 20px;
  width: 22px;
  margin: 4px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}