.container-fluid{
  padding: 0;
  margin: 0px;
}
body{
  background-color: #e0e0e0;
}
.logo img{
  height: 60px;
  width: 60px;
}
.social-media-links{
  display: flex;
}
.social-media-links div a img{
  height: 20px;
  width: 22px;
  margin: 4px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
header{
  width: 100%;
  background-color: rosybrown;
}
footer{
  width: 100%;
  background-color: rosybrown;
}