
.city-names{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0% 15%;
  margin-top: 25px;
}
.city-names div img{
  position: relative;
  height: 150px;
  width: 150px;
  padding: 4%;
  border-radius: 25%;
}
.search-box{
  height: 420px;
  /* actually the height is 380px, but to look good I changed to 420px */
  background-color: aqua;
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

